.calendarWrapper {
    /* max-width: 600px;   
  margin: 0 auto; */
}

.normalDayStyle,
.leave,
.leaveRequest {
    position: relative;
    height: 60px;
    width: 60px;
}


.leave abbr,
.normalDayStyle abbr,
.leaveRequest abbr {
    position: relative;
    z-index: 1;
    font-size: 1.5em;
    font-weight: 500;
}

.leave abbr {
    color: white;
}

.leave::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: red;
    transform: translate(-50%, -57%);
    z-index: 0;
}
.leaveRequest::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fa3b6e;
    transform: translate(-50%, -57%);
    z-index: 0;
}

.addRemoveLeave {
    background-color: white;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1em;
    box-shadow: -1px 0px 5px #c4c4c4, 1px -1px 5px #c4c4c4;
}

.addRemoveLeave .addEventInput {
    min-width: 300px;
    letter-spacing: 0.05em;
    font-size: 0.9em;
	font-family: "Montserrat", sans-serif;
    border: none;
    outline: 0.1em solid gray;
    background-color: #c4c4c4;
    padding: 0.5em 1em;
    text-align: center;
}